{% extends 'UmbrellaFrontendBundle::frontendLayout.html.twig' %}

{% block content %}

    <div id="welcome">
        <div id="welcome_head"><img src="{{ asset('bundles/umbrellafrontend/images/welcome.gif')}}" alt="" />
        </div>
        <div id="welcome_img"><img src="{{ asset('bundles/umbrellafrontend/images/welcome_image.jpeg') }}" alt="" />
        </div>
        <div id="welcome_txt">
            <p>
            	<span style="color: #000000;">
            		Welcome to the&nbsp;Lockport Junior Miss Softball web site. The LJMS Executive Board is excited to introduce the new league site. This site will have many new features that will enable us to keep you informed and updated on all league activities.
            	</span>
            </p>
            <p>
            	&nbsp;
            </p>
            <div class="more_link">
            	<a href="{{ path('about') }}">more about us</a>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div id="sponsors">
        <div>
            <div id="sponsores_head"><img src="{{ asset('bundles/umbrellafrontend/images/sponsors.gif') }}" alt="" />
            </div>
            <div class="more_link">
            	<a href="{{ path('sponsors') }}">become one</a>
            </div>
            <div style="clear:both">            	
            </div>
        </div>

        <!-- Slideshow logos -->
        <div id="slideshow_sponsors_logo" style="height: 130px;">
            <div style="text-align:center;">
                <a href="http://www.mammaonesti.com" target="_blank">
                	<img src="{{ asset('bundles/umbrellafrontend/images/logoSponsors/22.jpeg') }}" alt="logo"/>
                </a>
                <a href="http://www.mammaonesti.com" target="_blank">
                	<img src="{{ asset('bundles/umbrellafrontend/images/logoSponsors/24.jpeg') }}" alt="logo"/>
                </a>
                <a href="http://www.mammaonesti.com" target="_blank">
                	<img src="{{ asset('bundles/umbrellafrontend/images/logoSponsors/25.gif') }}" alt="logo"/>
                </a>
            </div>
            <div style="text-align:center;">						
               <a href="http://www.mammaonesti.com" target="_blank">
                	<img src="{{ asset('bundles/umbrellafrontend/images/logoSponsors/34.gif') }}" alt="logo"/>
                </a>
            </div>
        </div>
        <!-- end Slideshow logos -->
    </div>

    <div style="clear:both">    	
    </div>

{% endblock %}