<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        {% block meta %}
	        <title>LOCKPORT JUNIOR MISS</title>	      
	        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	        <meta name="keywords" content="Lockport Junior Miss"/>
	        <meta name="description" content="" />
        {% endblock %}


        {% block link %}
	        <link href="{{ asset ('bundles/umbrellafrontend/css/reset.css') }}" rel="stylesheet" type="text/css" />
	        <link href="{{ asset ('bundles/umbrellafrontend/css/style.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}

        {% block script %}
            <link href="{{ asset ('bundles/umbrellafrontend/js/jquery-2.0.3.js') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        
    </head>

    <body class="main">

        <!--Container Starts-->
        <div class="container">

            {% block header %}
	            <!--Header Starts-->
	            <div id="header" class="no_print">
	                <div id="logo">
	                    <a href="{{ path('index') }}">
	                        <img src="{{ asset('bundles/umbrellafrontend/images/logo.jpg') }}" alt="" border="0"  />
	                    </a>
	                </div>
	                <div id="head02">
	                    <div id="top_links">
	                        <a href="{{ path('index') }}">Home</a>
	                        |
	                        <a href="{{ path('about') }}">About</a>
	                        |
	                        <a href="{{ path('sponsors') }}">Sponsors</a>
	                        |
	                        <a href="{{ path('contact') }}">Contact</a>
	                    </div>
	                    <div id="joinus">
	                    {# Space for registration juniors #}
	                    </div>
	                </div>
	                <div id="head03">
	                </div>
	            </div>
	            <!--Header Ends-->
            {% endblock %}

            <!-- Content Starts -->
            <div id="content">

                <!--Left Starts ------------------------------------------------------------------------------------------------------------------- -->
                {% block leftbar %}
                <div id="left" class="no_print">
                    <div id="division1">
                        <div id="div_heading">                         
                            <img src="{{ asset('bundles/umbrellafrontend/images/division.gif') }}" alt="" />
                        </div>
                        <div id="select">
                            Select Your Division:
                        </div>
                        <div id="selectbox">

                        </div>
                    </div>
                    <!-- ********Calendar************ -->
                    <div id="events_calendar" style="margin-top:200px;">
                        <div id="calendar">
                        </div>
                        <div id= "prev">
                            {# &lt; &lt; #}
                        </div>
                        <div id= "next">
                            {# &gt; &gt; #}
                        </div>
                    </div>
                    <!-- *********Calendar end******** -->
                </div>
                {% endblock %}
                <!--Left Ends ------------------------------------------------------------------------------------------------------------------- -->

                <!--Middle Starts --------------------------------------------------------------------------------------------------------------- -->
                
                <div id="content_area">
	                {% block content %}
	                	Middle block.
	                {% endblock %}
                </div>

                <!--Middle Ends ---------------------------------------------------------------------------------------------------------------- -->

                <!--Right Starts --------------------------------------------------------------------------------------------------------------- -->
                {% block rigthbar %}
	                <div id="right">
	                    <div id="announcement_box">                        
	                        <div id="announce_head"><img src="{{ asset('bundles/umbrellafrontend/images/announce.gif') }}" alt="" /></div>	                        
	                        <div id="announce_img"><img src="{{ asset('bundles/umbrellafrontend/images/announce_img.gif') }}" alt="" /></div>
	                        <div id="announce_txt">
	                            <blockquote>
	                                <p><span style="color: #ff0000; font-size: x-small;"><strong>Fall ball is complete thanks to all the coaches for a great fall season!!!!</strong></span></p>
	                                <p><span style="color: #ff0000; font-size: small;"><strong>&nbsp;</strong></span></p>
	                                <p>&nbsp;</p>
	                                <p>&nbsp;</p>
	                                <p>&nbsp;Rain-out hot line.....in the event of questionable weather, we have established a call in hot-line that you can call to see if games are cancelled. <strong>This only applies to</strong> <strong>Hassert Park</strong> and can be called after 3pm on weekdays and 8am on weekends. The number is <strong>815-838-1183 ext 504</strong>.....please remember to dial the proper extension.&nbsp;</p>
	                                <p><span style="font-size: small;"><span style="font-size: large;"><strong>&nbsp;<br /></strong></span></span></p>
	                            </blockquote>	
	                        </div>
	                        <p>&nbsp;
	                        <div style="clear:both"></div>
	                    </div>
	                </div>
                {% endblock %}
                <!--Right Ends -------------------------------------------------------------------------------------------------------------------- -->
                <div style="clear:both">
                </div>
            </div>
            <!--Content Ends-->

            <!--Footer Starts-->
            {% block footer %}
            <div id="footer" class="no_print">
                <div class="footer_contents">
                    <div class="footer_links">
                        <a href="{{ path('index') }}">Home</a>
                        |
                        <a href="{{ path('about') }}">About</a>
                        |
                        <a href="{{ path('sponsors') }}">Sponsors</a>
                        |
                        <a href="">Contact</a>
                    </div>
                    <div class="copyright">
                        Copyright 2008 Lockport Junior Miss Softball
                    </div>
                </div>
            </div>
            {% endblock %}
            <!--Footer Ends-->
        </div>
        <!--Container Ends-->
    </body>
</html>